.App {
  text-align: center;
}



.maze-image {
width: 30px;
height: 30px;
padding-top: 5px;
}

#root{
  margin: 0 auto;

}
.cell{ 
width: 38px; height: 38px;
background: lightgrey;
border:solid black 1px;
display: block;
float: left;
}

